
*{box-sizing: border-box;

}

body{ background-color:  #F3F3F3;

}
.topo{
     width: 100%;
     height: 80px;
     background-color: #FFFFFF;
     display: flex;
     justify-content: space-between;
     align-items: center;
     box-shadow: 0px 4px 6px 0px #0000000D;
}

.conteudo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  margin-top:26px;
  background-color:  #F3F3F3;

}

.hora{font-size: 14px;
  color: #AAAAAA;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-start;
  padding-right: 10px;
  padding-left: 5px;
}
.texto{font-size: 14px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  word-break: break-word;
  flex-wrap: wrap;
  text-align: left;
}

.texto span{padding-right: 5px;

}

  

.caixa{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cinza{
    
  background-color: #DCDCDC;
}
.branca { background-color: #FFFFFF;

}
.rosa{  
    background-color:#FFDEDE;
}
.caixatexto{border: none;
      outline: none;

}
.baixo{
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px 0px #0000000D;
  padding: 0px 20px 0px 20px;
}